{
  "presets": [
    "next/babel",
    "es2015",
    "es2017",
    "stage-0"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["babel-root-import", [
      {
        "rootPathPrefix": "@atoms",
        "rootPathSuffix": "src/components/atoms"
      },
      {
        "rootPathPrefix": "@templates",
        "rootPathSuffix": "src/components/templates"
      },
      {
        "rootPathPrefix": "@molecules",
        "rootPathSuffix": "src/components/molecules"
      },
      {
        "rootPathPrefix": "@organisms",
        "rootPathSuffix": "src/components/organisms"
      },
      {
        "rootPathPrefix": "@i18n",
        "rootPathSuffix": "src/i18n"
      }

    ]]
  ]
}